.__noResultsFound {
  font-family: Alegreya, serif;
  width: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-style: italic;
  letter-spacing: 0.01em;
  line-height: 1.3;
  vertical-align: baseline;
  font-weight: bolder;
  color: #fa0171;
  font-size: 1.75rem;
}
