/* Individual result */

.__Result {
  width: 25%;
  border-radius: 0.5rem;
  margin: 1rem 1rem 1rem 0.62rem;
  padding: 2%;
  justify-self: center;
  height: 48vh;
  color: #fff;
  background: #00152b;
  font-family: alegreya Sans, sans-serif;
  transition: background 0.256s ease-out, border-color 0.256s ease-out,
    border-radius 0.256s ease-out, color 0.256s ease-out,
    opacity 0.256s ease-out, outline 0.256s ease-out, transform 0.256s ease-out;
}

strong {
  color: #fa0171;
}

.__Result:hover {
  background: #fa0171;
  cursor: pointer;
}

.__Result:hover strong {
  color: #00152b;
}

.__Result h3 {
  font-size: 1.3rem;
  width: 100%;
  height: 20%;
  margin-bottom: 4%;
}

.__Result > h4 {
  height: 7%;
  margin-bottom: 1%;
}

.__Result > .__url {
  width: 100%;
  height: 25%;
}

.__Result > .__url > a {
  overflow-wrap: break-word;
  color: #fff;
}

.__certainty {
  display: flex;
}

.__certainty h4 {
  margin-right: 3px;
}

.__certainty p {
  margin-top: 18px;
}

/* Media queries for responsiveness  */

@media (max-width: 749px) {
  .__Result {
    width: 90%;
    margin: 0rem auto 1rem auto;
    padding: 4%;
    height: 70vh;
  }

  .__Result h3 {
    font-size: 0.9rem;
    margin-bottom: 2%;
    height: 17%;
  }

  .__Result h4 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) and (min-width: 751px) {
  .__Result {
    height: 70vh;
    width: 40%;
  }

  .__Result h3 {
    font-size: 1rem;
    margin-bottom: 2%;
    height: 17%;
  }

  .__Result h4 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .__Result h3 {
    font-size: 1.3rem;
    margin-bottom: 2%;
    height: 17%;
  }

  .__Results h4 {
    font-size: 1.3rem;
  }

  .__Result {
    height: 60vh;
    width: 42%;
  }

  .__logo {
    height: 35px;
  }
}

@media (max-height: 500px) {
  .__Result {
    height: 130vh;
  }
}
