/* Individual result */

.__Result {
  width: 22%;
  border-radius: 3em 0em 3em 0;
  margin: 1rem 1rem 1rem 0.62rem;
  padding: 2%;
  height: 58vh;
  color: #fff;
  background: #00152b;
  font-family: alegreya Sans, sans-serif;
  transition: background 0.256s ease-out, border-color 0.256s ease-out,
    border-radius 0.256s ease-out, color 0.256s ease-out,
    opacity 0.256s ease-out, outline 0.256s ease-out, transform 0.256s ease-out;
}

.__Result:hover {
  background: #fa0171;
  cursor: pointer;
  border-radius: 0 3em 0 3rem;
}

.__Result h3 {
  font-size: 1rem;
  width: 100%;
  height: 20%;
  margin-bottom: 4%;
}

.__Result > h4 {
  height: 7%;
  margin-bottom: 1%;
}

.__Result > .__url {
  width: 100%;
  height: 32%;
}

.__Result > .__url > a {
  overflow-wrap: break-word;
  color: #fff;
}

.__nearestNeighbors h4 {
  margin: 0;
}

.__nearestNeighbors ul {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  height: 40%;
}

.__nearestNeighbors > ul > li {
  list-style: none;
  margin-right: 0.5rem;
  padding: 0;
}

@media (max-width: 500px) {
  .__Result {
    width: 95%;
    margin: 0rem auto 1rem auto;
    padding: 3%;
  }

  .__Result h3 {
    font-size: 0.9rem;
    margin-bottom: 2%;
    height: 17%;
  }

  .__Results h4 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1000px) and (min-width: 501px) {
  .__Result {
    height: 53vh;
    width: 40%;
  }

  .__Result h3 {
    font-size: 1rem;
    margin-bottom: 2%;
    height: 17%;
  }

  .__Results h4 {
    font-size: 0.7rem;
  }

  .__nearestNeighbors {
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .__Result h3 {
    font-size: 1.3rem;
    margin-bottom: 2%;
    height: 17%;
  }

  .__Results h4 {
    font-size: 1.3rem;
  }

  .__Result {
    height: 50vh;
    width: 42%;
  }

  .__logo {
    height: 35px;
  }
}
